@import "tailwindcss";

@font-face {
  font-family: "KeepOnTruckin";
  src: url("../../public/assets/fonts/keep-on-truckin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "KeepOnTruckin", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply h-full;
}

body {
  background-image: url("../assets/decoratives/jungle_background.png");
  @apply flex justify-center p-1 h-full w-screen bg-no-repeat bg-center bg-cover md:bg-none text-emerald-50 bg-[#081a13] max-h-screen;
}

body > div {
  @apply sm:max-w-md md:max-w-[370px] md:scale-90 flex items-center p-1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  @apply w-full bg-[#081a13] text-emerald-50 md:bg-emerald-50 md:text-[#081a13];
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  @apply w-full bg-transparent placeholder:text-emerald-400 text-emerald-200 text-base border border-emerald-200 rounded-md px-3 py-2 transition duration-300 ease-in focus:outline-none focus:border-emerald-400 hover:border-emerald-300 shadow-sm focus:shadow;
}
